version: '3'

services:
  web:
    build:
       context: .
    command: sh -c 'python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000'
    ports:
      - '7000:8000'
    env_file:
      .env
    volumes:
      - .:/app
    depends_on:
      - database
      - redis

  database:
    image: postgres:14
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes: 
        - database-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    volumes:
        - redis-data:/data

  celery_worker:
    build:
      context: .
    command: celery -A nations worker -l INFO
    depends_on:
      - redis
    env_file:
      .env
    volumes:
      - .:/app

  celery_beat:
    build:
      context: .
    command: celery -A nations beat -l INFO
    depends_on:
      - redis
    env_file:
      .env
    volumes:
      - .:/app

  celery_flower:
    build:
      context: .
    command: celery -A nations flower -l INFO
    ports:
     - "5556:5555"
    depends_on:
      - redis
      - celery_worker
    env_file:
      .env
    volumes:
      - .:/app

volumes:
  database-data:
  redis-data:
    

     
    

